html {
  display: flex;
}
body {
  margin: 0 auto;
}
.header {
  border: 1px solid #466995;
  position: center;
  width: 100%;
  z-index: 10;
}
h3 {
  color: #466995;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
h4 {
  color: #466995;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
h5 {
  color: #466995;
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  display: inline-block;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.player-column {
  display: inline-block;
  border: 1px solid #466995;
  width: 500px;
  height: 400px;
}
.player-heading {
  background-color: #d6dbe2;
  border: 1px solid #466995;
  position: center;
  text-align: center;
  padding-bottom: 5px;
}
.player-heading.text {
  position: center;
  text-align: center;
}
/*Player Tactical Selection*/
.player-army {
  background-color: #d6dbe2;
  border: 1px solid #466995;
  padding: 5px;
  display: flex;
}
.player-cp {
  flex: 1;
}
.player-faction {
  flex: 1;
}
/*Primary Objective*/
.primaries {
  flex: auto;
  display: inline-block;
  padding: 5px;
}
.prime-round {
  flex: initial;
  display: inline-block;
}
/*Button Settings*/
button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #d6dbe2;
  float: left;
}
.selected {
  background-color: #466995;
}

/*Secondary Objective*/
.secondaries {
  display: inline-grid;
  justify-content: space-between;
  position: center;
  width: 400px;
}
.secondary-buttons {
  display: inline-grid;
  background-color: #303030;
  text-align: center;
  grid-template-columns: auto auto auto auto auto;
}
/*Scoring*/
.primary-total {
  flex: 1;
}
.secondary-total {
  display: flex;
  background-color: #535353;
  color: #efefef;
}
.final-score {
  display: flex;
  background-color: #535353;
  color: #efefef;
}
