body {
  background-color: #fff;
  margin: 0 auto;
}
header {
  background-color: #466995;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
  z-index: 10;
}
h3 {
  color: #466995;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
h4 {
  color: #466995;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
h5 {
  color: #466995;
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  display: inline-block;
}
.row {
  display: flex;
}

button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #d6dbe2;
  display: inline-block;
}
button:active {
  background-color: #466995;
}

.player-column {
  display: inline-block;
  width: 500px;
  height: 400px;
}

.player-heading {
  background-color: #535353;
  color: #efefef;
  margin: 5px;
  border: 3px solid blue;
  padding: 25px;
  height: 20px;
  width: 200px;
  position: auto;
}

.command-points {
  background-color: #535353;
  color: #efefef;
  margin: 0 auto;
  border: 3px solid blue;
  padding: 25px;
  height: 20px;
  width: 200px;
  overflow: hidden;
}
.faction-selection {
  background-color: #535353;
  color: #efefef;
  margin: 0 auto;
  border: 3px solid blue;
  padding: 25px;
  height: 20px;
  width: 200px;
  overflow: hidden;
}
.primaries {
  position: relative;
}
.prime-round {
  justify-content: flex-start;
}
.secondaries {
  background-color: #303030;
  width: 100%;
  text-align: center;
  margin: 2px;
}
.secondary-total {
  display: flex;
  background-color: #535353;
  color: #efefef;
}
.final-score {
  display: flex;
  background-color: #535353;
  color: #efefef;
}
